.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* sign up page */

.sign-up-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  border: 2px solid black;
}

.tier-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.tier-free {
  display: flex;
  border: 2px solid black;
}

.tier-standard {
  display: flex;
  border: 2px solid black;
}

.tier-premium {
  display: flex;
  border: 2px solid black;
}